[submodule "nuttx"]
	path = nuttx
	url = git@github.com:radupascale/nuttx.git
	branch = hectorwatch
[submodule "nuttx-apps"]
	path = nuttx-apps
	url = git@github.com:radupascale/nuttx-apps.git
	branch = hectorwatch
